<link rel="stylesheet" href="../styles/admin.css"/>

<div class="div-table">
  <div class="div-table-heard">
    <h3>添加商品</h3>
  </div>
  <div class="form-inline" role="form">
    <div class="form-group">
      <label for="iName">商品名称：</label>
      <input class="form-control" id="iName" placeholder="请输入商品名称">
    </div>
    <div class="form-group">
      <label for="iPrice">价格：</label>
      <input class="form-control" id="iPrice" placeholder="请输入价格">
    </div>
    <div class="form-group">
      <label for="iUnit">单位：</label>
      <input class="form-control" id="iUnit" placeholder="请输入单位">
    </div>
    <button class="btn btn-default" id="addbutton">添加商品</button>
  </div>
</div>

<div class="div-table">
  <div class="div-table-heard">
    <h3>商品列表</h3>
  </div>
  <table id="item-table" class="table table-hover">
    <thead>
      <tr class="active">
        <th>条形码</th>
        <th>名称</th>
        <th>单价(元)</th>
        <th>单位</th>
        <th>买二送一</th>
        <th>修改</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody id="product-table-list">
      <% Product.all.each do |item| %>
      <tr>
        <td class = "item-id"><%=item.id%></td>
        <td><%=item.name%></td>
        <td><%=item.price%></td>
        <td><%=item.unit%></td>
        <td><input type="checkbox" class="btn btn-primary item-promotion" value = "促销"></td>
        <td><a href="/item-edit/<%=item.id%>" class = "edit-link">修改</a></td>
        <td><button type="button" class="btn btn-primary item-delete">删除</button></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
<% if Product.count == 0 %>

<% end %>
<script type="text/javascript" src="../scripts/admin.js"></script>
