<link rel="stylesheet" href="../styles/admin.css"/>

<div class="div-table">
  <div class="err-msg" id="error-msg">
    <button type="button" class="close" id="cancle-error"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h5 id="excced-remind">亲,"价格"只能输入数字哦~~~~~   "库存"只能输入整数哇!!!!</h5>
  </div>
  <div class="err-msg" id="null-msg">
    <button type="button" class="close" id="cancle-null"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h5 id="excced-remind">亲,商品的"名称"和"单位"都不能为空哇!!!!!!!</h5>
  </div>
    <div>
        <div class="err-msg" id="des-err-msg">
            <button type="button" class="close" id="cancle-null"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5 id="excced-remind">亲,描述必须控制在100字以内哦~~~~~</h5>
    </div>
  <div class="bs-callout">
    <div class="form-inline" role="form">
      <div class="form-group">
        <label for="iName">商品名称：</label>
        <input class="form-control input-width-addname" id="iName" placeholder="请输入商品名称">
      </div>
      <div class="form-group">
        <label for="iPrice">价格：</label>
        <input type = "number" class="form-control input-width-addshort" id="iPrice" placeholder="请输入价格">
      </div>
      <div class="form-group">
        <label for="iUnit">单位：</label>
        <input class="form-control input-width-addshort" id="iUnit" placeholder="请输入单位">
      </div>
      <div class="form-group">
        <label for="iNumber">库存：</label>
        <input type = "number" class="form-control input-width-addshort" id="iNumber" placeholder="请输入库存">
      </div>
      <div>
        <div class="form-group">
          <label for="iDescription">描述信息：</label>
          <textarea class="form-control" rows="3" id="iDescription" placeholder="请输入商品描述信息"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-warning btn-default" id="addbutton">添加商品</button>
          <button class="btn btn-default margin-left" id="cleanbutton">清空</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div-split">
</div>
<div class="div-table">
  <div class="item-list">
    <table id="item-table" class="table table-hover">
      <thead>
        <tr class="table-th">
          <th class="hide">商品编号</th>
          <th>名称</th>
          <th>单价(元)</th>
          <th>单位</th>
          <th>库存</th>
          <th>促销</th>
          <th>修改</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody id="product-table-list">
        <% Product.all.each do |item| %>
        <tr data-id = "<%=item.id%>">
          <td class = "item-id hide"><%=item.id%></td>
          <td class = "item-col-name">
            <dl>
              <dt class = "item-name"><%=item.name%></dt>
              <dd><%=item.description%></dd>
            </dl>
          </td>
          <td><%= format("%0.2f",item.price)%></td>
          <td><%=item.unit%></td>
          <td><%=item.number%></td>
          <%if item.promotion == "false" %>
          <td><input type="checkbox" class="item-promotion" data-label-text="买二送一"></td>
          <%else%>
          <td><input type="checkbox" class="item-promotion" data-label-text="买二送一" checked></td>
          <%end%>
          <td>
            <button class = "edit-link"><span aria-hidden="true" class="icon-pen"> 编辑</span></button>
          </td>
          <td>
            <button type="button" class="btn btn-warning item-delete"><span aria-hidden="true" class="icon-trash"> 删除</span></button>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<span id = "cover" class = "cover-on">
  <div class = "edit-info">
      <label class="hide">商品编号:<span id = "iNo"></span></label>
      <label for = "itemName">商品名称：</label>
      <input type = "text" class = "iName form-control" id = "iName" autofocus required>
      <label for = "itemPrice">价格：</label>
      <input type = "number" class = "iPrice form-control" id = "iPrice" required>
      <label for = "itemUnit">单位：</label>
      <input type = "text" class = "iUnit form-control" id = "iUnit" required>
      <label class = "hide" id = "iPromotion"></label>
      <label for = "">数量：</label>
      <input type = "number" class = "form-control" id = "iNumber" required>
      <label class="hide" for = "">促销:</label>
      <div class="hide" id="switch" style = "margin-left: 35%;">
        <input class="item-promotion" id = "switch-state" type="checkbox" data-label-text="买二送一">
      </div>
      <label for="iDescribe">描述信息：</label>
      <textarea class="form-control" rows="3" id = "iDescription"></textarea>
      <button class = "btn btn-primary save-btn">提交</button>
      <button class = "back">返回</button>
  </div>
</span>
<% if Product.count == 0 %>

<% end %>
<script type="text/javascript" src="../scripts/admin.js"></script>
<script type="text/javascript" src="../scripts/model/product.js"></script>
