<link rel="stylesheet" href="../styles/admin.css"/>
<div class="product-table">
  <table class="table table-bordered table-items">
    <caption class="product-table-title"><h2>商品列表</h2></caption>
    <thead class "item-info">
      <tr>
        <th>条形码</th>
        <th>名称</th>
        <th>单价(元)</th>
        <th>单位</th>
        <th>促销</th>
        <th>修改</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody id="product-table-list">
      <% Product.all.each do |item| %>
      <tr>
        <td class = "item-id"><%=item.id%></td>
        <td><%=item.name%></td>
        <td><%=item.price%></td>
        <td><%=item.unit%></td>
        <td><input type="checkbox" class="btn btn-primary item-promotion" value = "促销"></td>
        <td><a href="/item-edit/<%=item.id%>" class = "edit-link">修改</a></td>
        <td><button type="button" class="btn btn-primary item-delete">删除</button></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
<% if Product.count == 0 %>
  <p id = "alert-msg">no item yet</p>
<% end %>
<div class = "add-sheet">
  <h3 class = "add-entry label-primary">additem>>>></h3>
  <div class = "add-info">
    <label for = "itemName">name</label>
    <input type = "text" class = "iName form-control" placeholder = "item name" autofocus required>
    <label for = "itemPrice">price</label>
    <input type = "number" class = "iPrice form-control" placeholder = "item price" required>
    <label for = "itemUnit">unit</label>
    <input type = "text" class = "iUnit form-control" placeholder = "item unit" required>
    <button class = "btn btn-primary addbutton">submit</button>
  </div>
</div>
<script type="text/javascript" src="../scripts/admin.js"></script>
