<div class="div-table" id="no-product">
  <div class="shop-cart" >
     <div class="empty">
      <div class="empty-cart">
          <h1 class="err-msg" id="none-msg">您没有需要付款的商品,请前往<a href="/products">商品列表</a>添加</h1>
      </div>
     </div>
  </div>
</div>

<div class="div-table" id="has-product">
  <div class="div-table-heard">
    <h3>购物清单</h3>
  </div>
  <div class="shop-cart" id="pay-date">
    <table class="table table-hover">
      <thead>
        <tr class="table-th">
          <th>名称</th>
          <th>单价(元)</th>
          <th>单位</th>
          <th class="item-col-num">数量</th>
          <th>促销</th>
          <th>小计</th>
        </tr>
      </thead>
      <tbody id="cart-table">
         <%for i in 0..(@cartProducts.length-1)%>
        <tr id = "productInCartId<%=@userCart[i].id%>">
          <td class="hide"><%=@cartProducts[i].id%></td>
          <td><%=@cartProducts[i].name%></td>
          <td><%=@cartProducts[i].price%></td>
          <td><%=@cartProducts[i].unit%></td>
          <td><%=@userCart[i].number%></td>
          <%if @cartProducts[i].promotion == "true" || @cartProducts[i].promotion === "买二送一"%>
          <td class="font-color-red">买二送一</td>
          <%else%>
          <td class="font-color-red"></td>
          <%end%>
          <td id="subtotal-<%=@cartProducts[i].id%>"></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="cart-save-item">
    <div class="div-table-heard">
      <h4>赠送商品</h4>
    </div>
    <div class="shop-cart">

      <table class="table table-hover">
        <thead>
          <tr class="table-th">
            <th>分类</th>
            <th>名称</th>
            <th>数量</th>
          </tr>
        </thead>
        <tbody id="free-table">
          <%for i in 0..(@cartProducts.length-1)%>
          <% if @cartProducts[i].promotion == "true" &&  @userCart[i].number > 2%>
         <tr id = "productInCartId<%=@userCart[i].id%>">
           <td class="font-color-red">买二送一</td>
           <td><%=@cartProducts[i].name%></td>
           <td id="freeNum-<%=@cartProducts[i].id%>"><td>
         </tr>
         <%end%>
         <%end%>
        </tbody>
      </table>
    </div>
  </div>
  <div class="confirm-summary">
    <div class="div-table-heard">
      <h4>购物金额</h4>
    </div>
    <div class="shop-cart clearfix">
      <div class="clearfix">
        <div class="flow-right">
          <h5 class="text-right width-fifty-percent">元</h5>
        </div>
        <div class="flow-right">
          <h5 class="text-right width-fix-eighty-px" id="freeTotal"></h5>
        </div>
        <div class="flow-right">
          <h5 class="text-right">节约：</h5>
        </div>
      </div>
      <div class="clearfix car-border-top car-summary-width">
        <div class="flow-right">
          <h4 class="text-right width-fifty-percent">元</h4>
        </div>
        <div class="flow-right">
          <h4 class="text-right width-fix-eighty-px" id="totalPrice"></h4>
        </div>
        <div class="flow-right">
          <h4 class="text-right">总计：</h4>
        </div>
      </div>
      <div class="clearfix cart-summary-button-dir car-border-top">
        <div class="width-forty-percent flow-right margin-left">
          <a href="#" class="btn btn-warning btn-block flow-right" role="button">去付款</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../scripts/model/item.js"></script>
<script type="text/javascript" src="../scripts/model/promotion.js"></script>
<script type="text/javascript" src="../scripts/confirm.js"></script>
