<link rel="stylesheet" href="../styles/order.css"/>
<div class = 'details'>
  <div class = "background">
     <div class="detail-table">
       <div class="item-list">
         <table id="item-table" class="table table-hover">
           <thead>
             <tr class="table-th">
               <th class="hide">details List</th>
               <th>name</th>
               <th>unit</th>
               <th>price</th>
               <th>number</th>
               <th>promotion</th>
               <th>numberForFree</th>
               <th>totalcost</th>
             </tr>
           </thead>
           <tbody id="detail-table-list">
             <% @details.each do |detail| %>
              <tr data-id = "<%=detail.id%>">
                <td><%= detail.name%></td>
                <td><%= detail.unit%></td>
                <td><%= detail.price%></td>
                <td><%= detail.number%></td>
                <td><%= detail.promotion%></td>
                <td><%= detail.numberForFree%></td>
                <td><%= detail.totalcost%></td>
              </tr>
             <%end%>
           </tbody>
         </table>
       </div>
     </div>
     <a href = "/orders"><span aria-hidden="true" class="icon-pen"> return to orders</span></a>
   </div>
</div>
