
 <% if Product.all.count == 0 %>
<div class="div-table">
  <div class="shop-cart" >
     <div class="empty">
      <div class="empty-item">
          <h3>很抱歉，暂时没有商品提供，新品即将上架，敬请期待哦～</h3>
      </div>
     </div>
  </div>
</div>
 <% else %>
<div class="div-table">
  <div class="div-table-heard">
    <h3>商品列表</h3>
  </div>
  <div class="err-msg" id="excced-msg">
    <button type="button" class="close" id="cancle-excced"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h5 id="shortage-remind-customer">库存不足，亲,你不能够继续添加了！</h5>
  </div>
  <div class="item-list">
    <table id="item-table" class="table table-hover">
      <thead>
      <tr class="table-th">
        <th>名称</th>
        <th>单价(元)</th>
        <th>单位</th>
        <th>库存</th>
        <th>促销</th>
        <%if session[:isLogin] === true%>
        <th></th>
        <%end%>
      </tr>
      </thead>
      <tbody id="body-list">
        <% Product.where(:state => "onsale").each do |item| %>
          <% if item.number > 0%>
          <tr>
            <td class = "item-id hide"><%=item.id%></td>
            <td class = "item-col-name">
              <dl>
                <dt class = "item-name"><%=item.name%></dt>
                <dd><%=item.description%></dd>
              </dl>
            </td>
            <td><%=format("%0.2f",item.price)%></td>
            <td><%=item.unit%></td>
            <td><%=item.number%></td>
            <%if item.promotion == "true" %>
            <td class="font-color-red">买二送一</td>
            <%else%>
            <td class="font-color-red"></td>
            <%end%>
            <%if session[:isLogin] === true%>
            <td class="text-center">
              <button type="button" class="btn btn-primary" id="add-cart">加入购物车</button>
            </td>
            <%end%>
          </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<% end %>
  <script type="text/javascript" src="../scripts/cart.js"></script>
  <script type="text/javascript" src="../scripts/model/product.js"></script>
