<% if @userOrders.length == 0 %>
<div class="div-table">
  <div class="shop-cart" >
    <div class="empty">
      <div class="empty-item">
        <h3>您没有订单，快去购物吧～</h3>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="div-table">
  <div class="div-table-heard">
    <h3>订单列表</h3>
  </div>
  <div class="item-list">
    <table id="item-table" class="table table-hover">
      <thead>
        <tr class="table-th">
          <th class="hide">order List</th>
          <th>订单编号</th>
          <th>邮箱</th>
          <th>订单金额</th>
          <th>订单状态</th>
          <th>订单时间</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="product-table-list">
        <%for i in 0..(@userOrders.length-1)%>
        <tr data-id = "<%=@userOrders[i].id%>">
          <td class = "item-id "><%=@userOrders[i].id%></td>
          <td><%=@userOrders[i].username%></td>
          <td><%= format("%0.2f",@userOrders[i].totalcost)%></td>
          <td><%=@userOrders[i].state%></td>
          <td><%= @userOrders[i].created_at.localtime.strftime("%Y/%m/%d %H:%M")%></td>
          <td>
            <a href = "/details/<%=@userOrders[i].id%>">
            <button type="button" class="btn btn-warning btn-xs"> 订单详情</button>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<script type="text/javascript" src="../scripts/cart.js"></script>
