<link rel="stylesheet" href="../styles/order.css"/>

<div class="div-table" id="has-product">
  <div class="div-table-heard">
    <h3>订单详情</h3>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading clearfix">
      <div class="flow-right margin-right"><label><%=@orderInfo.created_at.localtime.strftime("%Y年%m月%d日 %H:%M")%></label></div>
      <div class="flow-left margin-left"><label>订单编号：</label><%=@orderInfo.id%></div>
      <div class="margin-left-forty flow-left"><label>状态：</label><span class="font-color-red"><%=@orderInfo.state%></span></div>
    </div>
  </div>

  <div class="shop-cart" id="pay-date">
    <table class="table table-hover">
      <thead>
        <tr class="table-th">
          <th>名称</th>
          <th>单价(元)</th>
          <th>单位</th>
          <th>数量</th>
          <th>促销</th>
          <th>小计</th>
        </tr>
      </thead>
      <tbody id="cart">
        <% paymentTotle = 0 %>
        <% paymentSaveTotle = 0 %>
        <% @details.each do |detail| %>
          <tr data-id = "<%=detail.id%>">
            <td><%= detail.name%></td>
            <td><%= format("%0.2f",detail.price)%></td>
            <td><%= detail.unit%></td>
            <td><%= detail.number%></td>
            <td class="font-color-red"><%= detail.promotion%></td>
            <td><%= format("%0.2f",detail.totalcost)%></td>
          </tr>
          <% paymentTotle += detail.totalcost %>
          <% paymentSaveTotle = paymentSaveTotle + detail.numberForFree * detail.price%>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="cart-save-item">
    <div class="div-table-heard">
      <h4>赠送商品</h4>
    </div>
    <div class="shop-cart">

      <table class="table table-hover">
        <thead>
          <tr class="table-th">
            <th>分类</th>
            <th>名称</th>
            <th>数量</th>
          </tr>
        </thead>
        <tbody id="free-table">
          <% @details.each do |detail| %>
            <% if (!(detail.numberForFree === 0)) %>
              <tr data-id = "<%=detail.id%>">
                <td class="font-color-red"><%= detail.promotion%></td>
                <td><%= detail.name%></td>
                <td><%= detail.numberForFree%></td>
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
  <div class="payment-summary">
    <div class="div-table-heard">
      <h4>购物金额</h4>
    </div>
    <div class="shop-cart clearfix">
      <div class="clearfix">
        <div class="flow-right">
          <h5 class="text-right width-fifty-percent">元</h5>
        </div>
        <div class="flow-right">
          <h5 class="text-right width-fix-eighty-px"><%= format("%0.2f",paymentSaveTotle)%></h5>
        </div>
        <div class="flow-right">
          <h5 class="text-right">节约：</h5>
        </div>
      </div>
      <div class="clearfix car-border-top car-summary-width">
        <div class="flow-right">
          <h4 class="text-right width-fifty-percent">元</h4>
        </div>
        <div class="flow-right">
          <h4 class="text-right width-fix-eighty-px"><%= format("%0.2f",paymentTotle)%></h4>
        </div>
        <div class="flow-right">
          <h4 class="text-right">总计：</h4>
        </div>
      </div>
      <div class="clearfix cart-summary-button-dir car-border-top">
        <div class="width-forty-percent flow-right margin-left">
          <% if session[:role] == "admin"%>
            <a href="/orders" class="btn btn-warning btn-block flow-right" role="button">返回订单列表</a>
          <% else %>
            <a href="/orders/<%=session[:user]%>" class="btn btn-warning btn-block flow-right" role="button">返回订单列表</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
